<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Keskustelusovellus</title>
</head>
<body>
<div class="header">
    <div class="heading">
        <h1>Keskustelusovellus</h1>
    </div>
    <div class="topnav">
        <a href="/">Etusivu</a>
        <a href="/topics">Aiheet</a>
        {% if session.username %}
        <a href="/home">Omat</a>
        <a href="/new_thread">Uusi lanka</a>
        <a href="/logout">Kirjaudu ulos</a>
        <a href="{{ url_for('profile_threads', user_id=session.user_id) }}">{{ session.username }}</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a>
        {% endif %}
    </div>
</div>
<div class="page">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block sidebar %}{% endblock %}
</div>
</body>
</html>