<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Keskustelusovellus</title>
</head>
<body>
<div class="header">
    <div class="heading">
        <a href="/" class="button"><h1>Keskustelusovellus</h1></a>
    </div>
    <div class="header-login">
        {% if session.username %}
        <a href="/logout" class="button">Kirjaudu ulos</a>
        {% else %}
        <a href="/login" class="button">Kirjaudu sisään</a>
        {% endif %}
    </div>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>