{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}
<div class="topnav">
    <a href="{{ url_for('profile_threads', user_id=user_id) }}">Langat</a>
    <a href="{{ url_for('profile_comments', user_id=user_id) }}">Kommentit</a>
</div>
{% if is_thread %}
    {% for thread in threads %}
    <div class="post">
        <div class="post-title">
        <h2>{{thread.title}}</h2>
        </div>
        <div class="post-meta">
            <div>Aihe: <a href="{{ url_for('topic', topic=thread.topic) }}">{{ thread.topic }}</a></div>
            <div class="time">{{ thread.created.strftime("%Y-%m-%d") }}</div>
            <div class="user">{{ thread.username }}</div>
        </div>
        <div class="post-content">
            {% if thread.image %}
                <img src="../../static/images/{{ thread.image }}" alt="kuva">
            {% endif %}
            {{ thread.content }}
        </div>
        <a href="{{ url_for('thread', id=thread.id) }}">Kommentit</a>
    </div>
    {% endfor %}
{% else %}
{% for comment in comments %}
<div class="post">
    <div class="post-meta">
        <div class="time">{{ comment.created.strftime("%Y-%m-%d") }}</div>
        <div class="user">{{ comment.username }}</div>
    </div>
    <div class="post-content">
        {{ comment.content }}
    </div>
    <a href="{{ url_for('thread', id=comment.thread_id) }}">Konteksti</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <p>Käyttäjä: {{ username }}</p>
</div>
{% endblock %}