{% extends "layout.html" %}
{% block title %}Kommentit{% endblock %}
{% block content %}
<div class="post">
    <div class="post-title">
    <h2>{{ thread.title }}</h2>
    </div>
    <div class="post-meta">
        <div>Aihe: <a class="topic" href="{{ url_for('topic', topic=thread.topic) }}">{{ thread.topic }}</a></div>
        <div class="time">{{ thread.created.strftime("%Y-%m-%d") }}</div>
        <div class="user">{{ thread.username }}</div>
    </div>
    <div class="post-content">
        {% if thread.image %}
            <img src="../static/images/{{ thread.image }}" alt="kuva">
        {% endif %}
        {{ thread.content }}
    </div>
</div>
{% if comment_count == 1 %}
<h3>1 komentti</h3>
{% else %}
<h3>{{ comment_count }} komenttia</h3>
{% endif %}
{% for comment in comments %}
<div class="post">
    <div class="post-meta">
        <div class="time">{{ comment.created.strftime("%Y-%m-%d") }}</div>
        <div class="user">{{ comment.username }}</div>
    </div>
    <div class="post-content">
        {{ comment.content }}
    </div>
</div>
{% endfor %}
{% if session.username %}
    <form action="/thread/{{ thread.id }}" method="POST">
        <span class="form">Lisää kommentti</span> <br>
        <textarea spellcheck="false" name="content" rows="3", cols="40">{% if errors %}{{ comment_content }}{% endif %}</textarea>
        <br>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="thread_id" value="{{ thread.id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% if errors %}
        {% for error in errors %}
        <p class="error">Virhe: {{ error }}</p>
        {% endfor %}
    {% endif %}
{% else %}
Kirjaudu sisään lisätäksesi kommentin.
{% endif %}
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <p>Aihe: <a href="{{ url_for('topic', topic=thread.topic) }}">{{ thread.topic }}</a></p>
    <p>Tätä aihetta seuraa {{ subscriber_count }} {% if subscriber_count == 1 %}käyttäjä{% else %}käyttäjää{% endif %}.</p>
    {% if session.user_id %}
    <p>{% if subscribed %}Seuraat aihetta.{% else %}Et seuraa aihetta.{% endif %}</p>
    <form action="/toggle_subscription" method="POST">
        <input type="hidden" name="user" value="{{ session.user_id }}">
        <input type="hidden" name="topic" value="{{ thread.topic_id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="{% if not subscribed %}Seuraa{% else %}Lopeta seuraaminen{% endif %}">
    </form>
    {% endif %}
</div>
{% endblock %}