{% extends "layout.html" %}
{% block title %}{{topic}}{% endblock %}
{% block content %}
{% if threads %}
    {% for thread in threads %}
    <div class="post">
        <div class="post-title">
        <h2>{{ thread.title }}</h2>
        </div>
        <div class="post-meta">
            <div>Aihe: <a class="topic" href="{{ url_for('topic', topic=topic) }}">{{ topic }}</a></div>
            <div class="time">{{thread.created.strftime("%Y-%m-%d")}}</div>
            <div class="user">{{thread.username}}</div>
        </div>
        <div class="post-content">
        {% if thread.image %}
            <img src="../static/images/{{ thread.image }}" alt="kuva">
        {% endif %}
        {{ thread.content }}
        </div>
        <a href="{{ url_for('thread', id=thread.id) }}">Kommentit</a>
    </div>
    {% endfor %}
{% else %}
<h3 class="empty">Täällä ei ole mitään. <a href="/new_thread">Luo uusi lanka</a>.</h3>
{% endif %}
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <p>Aihe: {{ topic }}</a></p>
    <p>Tätä aihetta seuraa {{ subscriber_count }} {% if subscriber_count == 1 %}käyttäjä{% else %}käyttäjää{% endif %}.</p>
    {% if session.user_id %}
    <p>{% if subscribed %}Seuraat aihetta.{% else %}Et seuraa aihetta.{% endif %}</p>
    <form action="/toggle_subscription" method="POST">
        <input type="hidden" name="user" value="{{ session.user_id }}">
        <input type="hidden" name="topic" value="{{ topic_id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="{% if not subscribed %}Seuraa{% else %}Lopeta seuraaminen{% endif %}">
    </form>
    {% endif %}
</div>
{% endblock %}